.my-btn {
    color: white;
    border-radius: 25px;
    padding: .6rem .9rem;
    border: 2px solid rgba(0,0,0,0);
}

.btn-gray {
    background-color: var(--btn-gray);
}

.btn-lightgray {
    background-color: var(--my-lightergray);
    color: var(--bs-primary);
}

.btn-lightgray:hover {
    color: #F1CC40;
    border: 2px solid var(--my-lightgray);
    box-shadow: 0 0 0 2px var(--my-lightergray);
}

.my-btn.btn-gray:hover {
    color: white;
    border: 2px solid white;
    box-shadow: 0 0 0 2px var(--btn-gray);
}

.my-btn.bg-danger:hover {
    color: white;
    border: 2px solid rgba(0,0,0,1);
    box-shadow: 0 0 0 2px var(--bs-danger);
}

.my-btn.bg-primary:hover {
    color: white;
    border: 2px solid white;
    box-shadow: 0 0 0 2px var(--bs-primary);
}