.chevron-down {
    height: 10px;
    opacity: .4;
}

.hamburger-menu {
    font-size: 25px;
    opacity: .4;
    border: 1px solid var(--my-lightgray);
    border-radius: 5px;
    padding: 0 .8rem;
    right: 10px;
}

ul li ul {
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 21px;
    display: none;
}

ul li:hover ul,
ul li ul:hover {
    display: block;
}

li .fa-solid.fa-circle {
    font-size: 8px;
    color: var(--bs-primary);
    margin-right: 5px;
    vertical-align: middle;
}