.chevron-down {
    height: 10px;
    opacity: .4;
}

.hamburger-menu {
    font-size: 25px;
    opacity: .4;
    border: 1px solid var(--my-lightgray);
    border-radius: 5px;
    padding: 0 .8rem;
    right: 10px;
}