@import url(button.css);
@import url(navbar.css);

:root {
    --my-darkgray: #1F1F1F;
    --btn-gray: #363636;
    --my-lightgray: #BEBCBB;
    --my-darkblue: #161C3B;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

footer {
    background-color: var(--bs-primary);
}

/* UTILITIES */
.round {
    border-radius: 20px;
}

.section:not(.full-width) {
    padding: 2rem 0;
}

/* HEADER */
.sony-logo {
    height: 15px;
}

/* SEZIONE I - Returnal */
.jumbotron {
    margin-top: 5.55rem;
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: top;
}

.banner-content {
    padding-top: 15rem;
}

.returnal-logo, .it-takes-two-logo {
    width: 50%;
}

/* SEZIONE II - slider */
.slider-img {
    border: 2px solid white;
    transition: transform .15s linear;
}

.slider-link:focus .slider-img {
    border: 2px solid white;
    box-shadow: 0 0 0 2px var(--bs-primary);
    border-radius: 20px;
}

.slider-link:hover .slider-img {
    transform: translate(0px, -10px);
}

/* SEZIONE III - PS5 */
.my-card {
    height: 100%;
}

/* SEZIONE IV - It Takes Two */
.it-takes-two {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
}

/* SEZIONE V - new in games */
.new-in {
    background-color: var(--my-darkgray);
}

/* SEZIONE VII - PS Plus */
.ps-plus {
    background-color: var(--my-lightgray);
}

/* SEZIONE IX - PS Now */
.ps-now {
    background-color: var(--my-darkblue);
}

/* FOOTER */
.ps-logo {
    width: 100px;
}