@import url(button.css);
@import url(navbar.css);

:root {
    --my-darkgray: #1F1F1F;
    --btn-gray: #363636;
    --my-lightgray: #BEBCBB;
    --my-darkblue: #161C3B;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.section:not(.full-width) {
    padding: 2rem 0;
}

/* HEADER */
.sony-logo {
    height: 15px;
}

/* SEZIONE I */
.jumbotron {
    margin-top: 5.55rem;
    border: 1px dashed red;
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
}

.banner-content {
    padding-top: 15rem;
}

.banner-content img {
    height: 40px;
}